@media (min-width:34rem) {


.main-nav{
  text-align: right;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.header{
  justify-content:space-between;
}

.logo{
  padding-left: 1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}

.page-content{
  padding: 0 3rem 3rem 3rem;
}

.tabs{
padding: 1rem;
}


label{
  font-size: 1rem;
}




}
/* media query over  */

@media (min-width:55rem) {

.home-banner{
margin-top: 2rem;
display: flex;
}
.home-banner-img{

  width: 70%;
  height: 100%
}
.up-next{
  margin-top: 0;
  margin-left: 0.5rem;
  width: 30%;

}
.up-next-content{
  display: flex;
justify-content: space-around;

}


}
/* second media query over */
.tabs{
  padding: 0;

}

.tab-buttons{
  display: flex;
}


.page-content{
  padding: 0 1.5rem 1.5rem 1.5rem;
}


.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.flex-image{
  flex: 1 1 10rem;
  height: 100%;
  max-width:40rem;
}

.flex-text{
  flex: 1 1 17rem;
  max-width: 35rem;
  padding: 1rem;
}
