
/* Flex for meet the teem */
@media (max-width:32rem) {

  .team-member{
    flex-wrap: wrap;
    flex: 1 1 25rem;
    justify-content: center;
  }

  .bio-text{
  text-align: center;
  /* max-width: 7rem; */
  }


}

@media (max-width:40rem) {
  .bio-text{
    max-width: 30rem;
  }
}

/* Flex for meet the teem */

@media (max-width:48rem){
.main-nav{
  width: 100%;

flex-wrap: wrap;
}
.nav-item{
  flex: 1 1 10rem;
text-align: center;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.drop-button{
  padding-bottom: 0;
}
}
@media(max-width:30rem){
  textarea{
    width:15rem;

  }
}
/* mobile sized */
@media(max-width:24rem){
  .nav-item{
    text-align: right;
  }
  .tab-buttons li{
    padding-left: 0;
    padding-right: 0;
    font-size: 0.1rem;
  }

h1{
  font-size: 1.5rem;
  font-weight: 400;
}

h2{
  font-size: 1rem;

}

h3{
  font-size: 1rem;
}

}

@media (min-width:40rem) {
  .bio-text{
    max-width: 20rem;
  }
}


@media (max-width:20rem){
  .logo-type{
    display:none;
  }

}
@media (min-width:48rem) {


.main-nav{
  text-align: right;
  margin-top: 2.5rem;
  margin-bottom: 0;

}


header{
  justify-content:space-between;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-item{
  flex: 1 1 4rem;
  padding:0;
}

.logo{
  padding-left: 1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}

.page-content{
  padding: 0 3rem 3rem 3rem;
}

.tabs{
padding: 1rem;
}


label{
  font-size: 1rem;
}




}
/* media query over  */

@media (min-width:60rem) {

.home-banner{
margin-top: 2rem;
display: flex;
}
.home-banner-img{

  width: 70%;
  height: 100%
}
.up-next{
  margin-top: 0;
  margin-left: 0.5rem;
  width: 30%;

}
.up-next-content{
  display: flex;
justify-content: space-around;

}


}
/* second media query over */
.tabs{
  padding: 0;

}

.tab-buttons{
  display: flex;
}


.page-content{
  padding: 0 1.5rem 1.5rem 1.5rem;
}


.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.flex-box2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 1rem;
  max-width: 30rem;
  }

  .flex-box2 p{
    margin: 0;
  }

  /* .flex-box-what-we-do{
  display:
  } */

.flex-item{
  flex: 1 1 25rem;
}
.flex-item-social{
  flex: 1 1 15rem;
}

.flex-item-wwd{
  padding: 1rem;
  flex: 1 1 15rem;

}

.logo-pair{
  display: flex;
}


.flex-image{
  flex: 1 1 10rem;
  height: 100%;
  max-width:40rem;
}

.logos{
  max-width: 10rem;
  padding: 1rem;
}
.flex-text{
  flex: 1 1 17rem;
  max-width: 35rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tab-text{
  padding-left: 2rem;
  max-width: 33rem;

}
.flex-box .mat-rental{
  justify-content: space-between;


  }

   .flex-image2{
     flex: 1 1 10rem;
     height: 100%;
     max-width: 30rem;

  }

  .mat-price{
    flex:1 1 15rem;
    padding: 1rem;
  }

  .mats{
    flex: 1 1 15rem;

  }
  .mats img{
    transition: 0.7s;
  }

  .mats:focus img,.mats:hover img{
    filter: opacity(0.5);
  }

  .flex-text h3{
    margin-top: 0;
  }
  .flex-text p{
    margin-top: 0;
  }

.form-outer li{
  display: flex;
  flex-wrap: wrap;
}

.mat-reserve{
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 28rem;
}
