
@media (max-width:32rem) {

  .team-member{
    flex-wrap: wrap;
    flex: 1 1 25rem;
  }

  .bio-text{
  text-align: center;
  max-width: 7rem;
  }

  .bio-img{

}

@media (min-width:45rem) {
  .bio-text{
    max-width: 18.5rem;
  }
}

@media (max-width:70rem) {
  .bio-text{
    max-width: 27rem;
  }

}

@media (max-width:34rem){
  .logo-type{
    display:none;
  }
}
@media (min-width:34rem) {


.main-nav{
  text-align: right;
  margin-top: 2.5rem;
  margin-bottom: 0;

}


.header{
  justify-content:space-between;
}

.logo{
  padding-left: 1rem;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}

.page-content{
  padding: 0 3rem 3rem 3rem;
}

.tabs{
padding: 1rem;
}


label{
  font-size: 1rem;
}




}
/* media query over  */

@media (min-width:60rem) {

.home-banner{
margin-top: 2rem;
display: flex;
}
.home-banner-img{

  width: 70%;
  height: 100%
}
.up-next{
  margin-top: 0;
  margin-left: 0.5rem;
  width: 30%;

}
.up-next-content{
  display: flex;
justify-content: space-around;

}


}
/* second media query over */
.tabs{
  padding: 0;

}

.tab-buttons{
  display: flex;
}


.page-content{
  padding: 0 1.5rem 1.5rem 1.5rem;
}


.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.flex-box2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 1rem;
  max-width: 30rem;
  }

  .flex-box2 p{
    margin: 0;
  }
.flex-item{
  flex: 1 1 25rem;
}
.flex-item-wwd{
  padding: 1rem;
  flex: 1 1 15rem;

}

.logo-pair{
  display: flex;
}

.flex-image{
  flex: 1 1 10rem;
  height: 100%;
  max-width:40rem;
}

.flex-text{
  flex: 1 1 17rem;
  max-width: 35rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tab-text{
  max-width: 30rem;
  margin:auto;
}
.flex-box .mat-rental{
  justify-content: space-between;

  }

  .mat-price{
    flex:1 1 15rem;
    padding: 1rem;
  }

  .flex-text h3{
    margin-top: 0;
  }
  .flex-text p{
    margin-top: 0;
  }
